/* CSS REQUIRED */
.state-icon {
    left: -5px;
}
.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}

/* DEMO ONLY - REMOVES UNWANTED MARGIN */
.well .list-group {
    margin-bottom: 0px;
}

body{
	background: #870A21;
}

.title{
	background: #971E3E;
}

#title-font{
	font-size: 4em;
}

.title ul a{
	margin-left: 0;
}

.white-font{
	color: white;
}

#img-gift{
	width: 35%;
}

#img-facebook{
	width: 10%;
}

.margin-top{
	margin-top: 5%;
}

.margin-bottom{
	margin-bottom: 5%;
}

.bold{
	font-weight: bold;
}

.red{
	color: red;
}

.red-bg{
	background: red;
}

.blue-bg{
	background: blue;
}

.margin-top-10{
	margin-top: 10%;
}

.margin-bottom-10{
	margin-bottom: 10%;
}

.bold{
	font-weight: bold;
}

.fondo{
	background: #870A21;
}


img{
	width: 100%;
	height: auto;
}

div.gallery{
	/*border: 1px solid #ccc;*/
    float: left;
}

div.gallery:hover {
    background: rgba(149, 29, 61, .5);
}

div.desc {
    margin-bottom: 2px;
    text-align: center;
    color: white;
}

#products-list h5{
	font-size: 3vw;
	font-weight: bold;
}

#img-product{
	width: 65%;
	height: auto;
}

.wish{
	width: 100%;
	text-align: right;
}

.wish-img{
	margin: 0 auto;
	text-align: left;
	width: 10vw;
}



 header, main, footer {
      padding-left: 300px;
    }

    @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }

 #menu-icon{
 	width: 32px;
	margin-top: 1em;
	margin-left: 0;
 }

#slide-out{
	max-width: 80%;
}

.carousel{
	width: 100%;
	height: 15em;
}



.page-footer{
	height: 25vh;
}


.one-time{
	width: 100%;
	height: 25vh;
}


.carousel-item{
	width: 50px;
}


.one-time div img{
	width: 50%;
	height: 15vh;
}




body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }


 .slider{
 	width: 100%;
 	margin: auto;
 	overflow: hidden;
 }

 .slider ul{
 	display: flex;
 	padding: 0;
 	width: 400%;

 	animation: cambio 15s infinite alternate linear;
 }

 .slider li{
 	width: 100%;
 	list-style: none;
 }

 .slider img{
 	width: 100%;
 	height: 10vh;
 }

 @keyframes cambio{
 	0% {margin-left: 0;}
 	20% {margin-left: 0;}

 	25% {margin-left: -100%;}
 	45% {margin-left: -100%;}

 	50% {margin-left: -200%;}
 	70% {margin-left: -200%;}

 	75% {margin-left: -300%;}
 	100% {margin-left: -300%;}
 }

 .date-table{
 	margin-top: 12em;
 	color: white;
 }

  .date-table table tbody tr:hover{
  	background: rgba(149, 29, 61, .5);
 }










 @media only screen and (max-width: 500px) {
    
}




.profile-font{
	font-size: 5vw;
}

.gray-bg{
	background: rgba(0, 0, 0, 0.3);
}

.round{
	border-radius: 15px;
}